/venv/
/results/
/src/results/
/slurm-output/
/.virtual_documents/src/
/src/edge_cloud.egg-info/dependency_links.txt
/src/edge_cloud.egg-info/PKG-INFO
/src/edge_cloud.egg-info/requires.txt
/src/edge_cloud.egg-info/SOURCES.txt
/src/edge_cloud.egg-info/top_level.txt
/src/jupyter_notebooks/.ipynb_checkpoints/compare-porformance-in-terms-of-social-welfare-checkpoint.ipynb
/src/resource_allocation.log
/resource_allocation.log
/resource_allocation_old.log
/resource_allocation_without_history.log
/edge_cloud_resource_allocation.log
/slurm-589752_1.out
/slurm-589754_1.out
/slurm-589756_1.out
/slurm-596801_1.out
/slurm-596849_1.out
/slurm-596856_1.out
/slurm-596877_1.out
/slurm-596906_1.out
/slurm-596913_1.out
/iridis-reports/
/recycle-bin/edge_cloud_resource_allocation.log
/src/edge_cloud_resource_allocation.log
